// .search {
//   color: white;
//   select {
//     padding: 5px;
//     margin-bottom: 10px;
//   }
// }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  select {
    padding: 6px;
    border-radius: 5px;
  }
  h4 {
    color: white;
  }
}